.nav-text {
    font-family: "Poppins", Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-color);
    transition: color 150ms ease-in-out;
}

.nav-text:hover{
    color: var(--accent-color);
}

.search-bar {
    font-family: "Poppins", Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 16px;
    outline: none;
}

.search-bar:focus {
    border: 2px solid var(--primary-color);
}

header {
    background-color: var(--neutral-color);
    z-index: 100000;
}

.creeaza-cont-btn {
    background-color: var(--accent-color);
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: var(--neutral-color);
    transition: background-color 150ms ease-in-out;
}

.creeaza-cont-btn:hover {
    background-color: var(--accent-color-hover);
}

.login-btn {
    border: 2px solid var(--accent-color);
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: var(--black-color);
    transition: border 150ms ease-in-out;
}

.login-btn:hover {
    border: 2px solid var(--accent-color-hover);
}